<!DOCTYPE html>
<html>
<head>
  <title></title>
      <link rel = "stylesheet" type = "text/css" href = "../css/style.css" />
</head>
<body>
<% Object.keys(places).forEach(function(key){ %>
    <a href = "/places/<%= places[key].id %>"><%= places[key].description %></a>
    <%= places[key].latLng %>
<% }); %> 

</body>
</html>