<!DOCTYPE html>
<html>
<head>
  <title>&#9096;&#9095;&#9152;</title>
      <link rel = "stylesheet" type = "text/css" href = "../css/style.css" />
</head>
<body>
<h1>all the potholes that we've fell through </h1>
<ul>
<% Object.keys(places).forEach(function(key){ %>
    <li><a href ="/places/<%= places[key].id %>?max=<%= places.length %>"><%= places[key].description %></a></li>
    <%= places[key].latLng %>
<% }); %>
</ul>
</body>
</html>
