<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>the Void</title>
    <link rel = "stylesheet" type = "text/css" href = "../css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src = "js/streetView.js"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>