html, body,#map-canvas{ 
  height: 100%;
  margin: 0px;
  padding: 0px;
  top: .1px;
  cursor:none;
}
body, button{
font-family: 'Monoton', Sans-Serif;
}
.instruction{
  text-align: center;
}
div{
  font-size: 1.5em;
  margin: 0;
}
a{
  text-decoration: none;
  font-family: 'Monoton', Sans-Serif;
  color: #3A5F0B;
}
a:hover{
  color: blanchedalmond;
}
#home{
  font-size: 5em; 
  float: right; 
  display: inline;
  width: auto;
  padding: 5px;
  margin: 0;
}
h1{
  padding: 0;
  font-size: 2em;
  color:#ffe200;
  font-weight:lighter;
  margin:0;
}
h1:hover{
  color:#67fcd2;
}
p{
  margin:0;
  padding: 0;
  text-align: center;
}
#play{
  bottom:0px;
  float: right;
  width: 100%;
  padding:0;
  margin:0;
  text-align: center;
  font-size: 8em;
}
#skyview img{
  position: absolute;
  margin: 0;
  padding: 0;
}
#description{
  position: absolute;
  font-size: 2em;
  padding: auto;
  width: 100%;
  z-index: 10;
  top:5em;
  margin: auto;
  color: white;
  font-weight:lighter;
}
#description:hover{
  color:#FFA07A;
}

#canvas{
  /*border: 5px solid red;*/
  position: absolute;
  background-color: transparent;
  top: .1px;
  z-index:1; 
  margin: 0px;
  padding: 0px;
  cursor:none;
}

#distractor{
  z-index: 10;
  bottom:0px;
  position: absolute;
  font-family: 'Monofett', Sans-Serif;
  font-size: 5em;
  margin: auto;
}

nav{
  top:5em;
  width: 100%;
  z-index: 5;
  font-size: 5em;
  position: absolute;
}
#left{
  float: left;
}
#right{
  float: right;
}

#st-animation-canvas{
  position: absolute;
  background-color: transparent;
  top: .1px;
  z-index:1; 
  margin: 0px;
  padding: 0px;
  cursor:none;
  pointer-events: none;
}

#comments{
  display: none;
  z-index: 10;
  position: absolute;
  opacity: 1;
  outline: none;
  background:transparent;
  border: 0;
  border-bottom: .1em solid #fff; 
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  color:white;
  font-size: 3em;
  margin: 0 auto;
  float:center; 
  width:100%;
  top: 50%;
}