html, body,#map-canvas{ 
  height: 100%;
  margin: 0px;
  padding: 0px;
  top: .1px;
}
#map-canvas{
  cursor:none;
}

.instruction{
  text-align: left;
  font-family: 'Arvo', serif;
  margin-left: 25%;
}
div{
  font-size: 1.5em;
  margin: 0;
}
a{
  text-decoration: none;
  font-family: 'Monoton', Sans-Serif;
  color: #3A5F0B;
}
a:hover{
  color: blanchedalmond;
}
#home{
  top:.1em;
  position: fixed;
  z-index: 8;
  float: right;
  font-size: 7em;
  color:white;
  width: 100%;
}
h1{
  padding: 0;
  font-size: 2em;
  color:#ffe200;
  font-weight:lighter;
  margin:0;
  text-align: center;
}
h1:hover{
  color:#67fcd2;
}
p{
  margin:0;
  padding: 0;
  text-align: center;
}
#play{
  bottom:0px;
  float: right;
  width: 100%;
  padding:0;
  margin:0;
  text-align: center;
  font-size: 10em;
}
#skyview img{
  width: 100%;
  position: relative;
  padding: auto 0;
  display: inline-block;
}

#description{
  position: fixed;
  font-size: 2em;
  padding: auto;
  width: 100%;
  z-index: 1;
  top: 5em;
  margin: auto;
  color: white;
  font-weight:lighter;
  font-family: 'Monoton', Sans-Serif;
}

#description:hover{
  color:black;
}

#canvas{
  /*border: 5px solid red;*/
  position: absolute;
  background-color: transparent;
  top: .1px;
  z-index:1; 
  margin: 0px;
  padding: 0px;
  cursor:none;
}


nav{
  top:3em;
  width: 100%;
  z-index: 5;
  font-size: 5em;
  position:fixed;
}
#left{
  float: left;
  color: white;
}
#right{
  float: right;
  color: white;
}

#st-animation-canvas{
  position: absolute;
  background-color: transparent;
  top: .1px;
  z-index:1; 
  margin: 0px;
  padding: 0px;
  cursor:none;
  pointer-events: none;
}

#comments{
  display: none;
  z-index: 10;
  position: absolute;
  opacity: 1;
  outline: none;
  background:transparent;
  border: 0;
  border-bottom: .1em solid #fff; 
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  color:white;
  font-size: 3em;
  margin: 0 auto;
  float:center; 
  width:100%;
  top: 50%;
}
#guess{
  font-family: 'Arvo', serif;
  top:5em;
  position: fixed;
  z-index: 5;
  color: #f4a460;
  padding: auto;
  margin: auto;
}
#title{
  font-size: 5em;
  border-bottom: dashed .05em black;
}
#keys{
  font-size:3em;
}
#place_list{
  font-family: 'Arvo', serif;
  font-size: 1em;
}