html, body,#map-canvas{ 
  height: 100%;
  margin: 0px;
  padding: 0px;
  top: .1px;
}

#canvas{
  border: 5px solid red;
  position: absolute;
  background-color: transparent;
  top: .1px;
  z-index:10; 
  margin: 0px;
  padding: 0px;
}


