<!DOCTYPE html>
<html>
  <head>
    <title>&#x23DA;&#x23DA;&#x23DA;&#x23DA;&#x23DA;&#x23DA;&#x23DA;</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel = "stylesheet" type = "text/css" href = "../css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>"></script>
    <script src="https://code.createjs.com/createjs-2015.05.21.min.js"></script>
    <script src = "js/animation/aerialView.js"></script>
    <script src = "js/scene/aerialView.js"></script>

  </head>
  <body onload = "init();">
    <div id="map-canvas"></div>
    <canvas id = "canvas"></canvas>
  </body>

</html>
